[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {version = "~=1.7", extras = ["voice"]}
simpleaudio = "~=1.0"
gensound = "~=0.3"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
